/* Color palette */
$background: transparent;
$foreground: rgb(227, 227, 227);
$secondary: rgba(227, 227, 227, 0.65);
$primary: $secondary;
$selection: rgba(161, 161, 159, 0.35);
$selection2: rgba(161, 161, 159, 0.2);
$bg-ui: rgba(59, 59, 59, 0.9);
$border: transparent;
$active: rgb(255, 255, 255);
$radius: 4px;
@use 'base';

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;500;700&display=swap');

* {
    font-family: Lexend, sans-serif;
}

%side-nav {
    // border-right: 1px solid $border;
    border-color: $border;
}

div {
    border-color: $border;
}

mat-divider {
    border-color: $border;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: $background;
}

::-webkit-scrollbar-thumb {
    background-color: $selection2;
    border-radius: $radius;
}
::-webkit-scrollbar-track {
    background-color: $background;
    border-radius: $radius;
}
%side-nav-item-active svg {
    color: $active;
}

gv-thread-item-detail :first-child {
    opacity: 1;
    color: $secondary;
}

.gvHighContrast.gvPageRoot
    [_nghost-oqk-c303]
    .thread-info.read[_ngcontent-oqk-c303]
    .latest-item-details[_ngcontent-oqk-c303] {
    opacity: 1;
    color: $secondary;
}

%conversation {
    background-color: transparent;
    border-color: transparent;
}

.md-button.md-raised[disabled] {
    background-color: $secondary;
}

.md-button.md-raised[disabled] {
    opacity: 0.5;
}

div.call-as-label {
    color: $secondary;
}

path[d='M19.59 7L12 14.59 6.41 9H11V7H3v8h2v-4.59l7 7 9-9L19.59 7z'] {
    color: #d93025;
    opacity: 1;
}

path[d='M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z'] {
    color: #1a73e8;
    opacity: 1;
}

path[d='M15 19v-2H8.41L20 5.41 18.59 4 7 15.59V9H5v10h10z'] {
    color: #1e8e3e;
    opacity: 1;
}

gv-contact-list.YYoZ8c-npMLoc {
    background-color: $background;
}

.YYoZ8c-VeKiLd .YYoZ8c-NkdnBe:not([disabled]) {
    background-color: $primary;
}

/* settings view fixes start here */

.sectionTitle,
.gmat-button,
.gmat-body-2 {
    color: $active;
}

.mat-slide-toggle-bar.mat-slide-toggle-bar-no-side-margin {
    background-color: $selection;
}

.mat-form-field-appearance-outline[_ngcontent-egk-c24] .mat-form-field-infix {
    padding-top: 11px;
}

.mat-select-arrow {
    border-color: transparent;
    border-top-color: initial;
}

button.mat-focus-indicator.mat-stroked-button.mat-button-base {
    border-color: $border;
}

.mat-list-item.gmat-nav-list-item.gmat-subtitle-2.gmat-list-item-active,
div[ng-class="ctrl.dialpadVisible ? '' : ctrl.CSS.DIALPAD_COLLAPSED"],
.block-container,
.mat-dialog-container,
md-dialog,
mat-dialog-container {
    background-color: $bg-ui;
    color: $foreground;
    backdrop-filter: blur(10px);
}

.mat-form-field-infix {
    padding-top: 11px;
    border-top: initial;
}

/* Fixes for light-colored dial pad */

.call-button {
    background-color: $secondary;
}
.gmat-subtitle-2.gvThreadItem-unread {
    background-color: rgba(161, 161, 159, 0.534);
    &gv-thread-item div.layout-row gv-annotation[gv-test-id='item-contact'] {
        color: $active;
    }
    &gv-thread-item-detail :first-child {
        color: $foreground;
    }
}

.call-button.mat-button-disabled,
.gmat-button,
.dtmf-input {
    background-color: $selection;
}

button.call-end-button.mat-button {
    background-color: #ff6188;
}

.dtmf-input {
    transition: all 0.2s ease-in-out;
}

/* Make unread texts a bit more obvious */

.gmat-subtitle-2.gvThreadItem-unread {
    font-weight: bold;
}

.mat-drawer-container,
.mat-drawer,
body,
html,
.gvCallSidebar-root,
.gvRecipientPicker-contactList,
.root,
.active-call-wrapper,
.active-call,
.dialpad-container,
mat-icon.icon.mat-icon.notranslate.mat-icon-no-color,
.mat-ripple.button,
.input-row,
md-sidenav,
md-content,
.full-panel {
    background-color: $background;
}

.mat-menu-panel,
.call-button,
.primary-text,
a,
button,
input,
select,
textarea,
.gb_5c.gb_6c,
.icon.icon,
.remote-display-name,
.header,
.device-label,
div#LABEL_IDS\.ANONYMOUS_HEADER,
.deviceLabel,
.internalHeader,
.name,
.mat-list-item-content,
div#mat-select-value-1,
.mat-ripple.button,
.input-row,
.bubble,
.dtmf-input,
.gvHighContrast .mat-icon-button.mat-accent,
.gvPageRoot .W3hWSd span[role='heading'],
.mat-drawer-container,
.mat-drawer,
.grey-900,
.gvDeleteThreadDialog-sectionContent,
md-content,
.mat-select-value {
    color: $foreground;
}

.gray-700,
.gvPageRoot md-content,
.gvPageRoot .grey-700 {
    color: $secondary;
}

.secondary-text,
.latest-item-details,
.status,
span.phone-number,
.internalSubheader,
.subheader.ng-star-inserted,
.notificationText.ng-star-inserted,
.caption,
.rkljfb-biJjHb.gmat-caption.flex-noshrink,
path[d='M10 17l5-5-5-5v10z'],
.subheader {
    color: $secondary;
}

::placeholder,
.phone-number,
.no-devices.ng-star-inserted {
    color: $selection;
}

.bubble {
    background-color: $selection;
}

::selection {
    background-color: $selection;
    color: $active;
}

.mat-menu-panel,
md-menu-content {
    background-color: $bg-ui;
    backdrop-filter: blur(10px);
}

body > iframe:nth-child(15) {
    display: none;
}

gv-ogb-help-button, [aria-label="Google apps"] {
    display: none;
}